/* ALL */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --background-gray: rgb(228, 228, 228);
    --background-white: white;

    --display: 15vh;
}


/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: var(--display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading {
    font-size: 2.4em;
}

/* MAIN */
#main {
    height: calc(100vh - (var(--display)));
    width: 100vw;
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

.btn {
    height: 3em;
    width: 5rem;
    border: none;
    border-radius: .5em;
    background-color: var(--background-blue);
    color: var(--background-white)
}

.btn:hover {
    background-color: var(--background-blue-hover);
}

.btn:active {
    background-color: var(--background-blue-active);
}