/* ALL */
* {
    margin: 0;
    padding: 0;
    --background-blue: blue;
    --background-gray: gray;
    --background-white: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: 10vh;
}
/* MAIN */