/* ALL */
* {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --background-gray: #dfdde0;
    --background-white: white;
    --background-black: black;
    --positive-green: #10B981;
    --positive-green-hover: #34D399;
    --negative-red: #EF4444;
    --negative-red-hover: #F87171;

    --display: 15vh;
    --spacing: 1.5em;
}

/* body {
    max-height: 100vh;
} */


/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: var(--display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading {
    font-size: 2.4em;
}

/* MAIN */
#main {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing);
}

.btn {
    height: 3em;
    width: 5rem;
    border: none;
    border-radius: .5em;
    background-color: var(--background-blue);
    color: var(--background-white)
}

.btn:hover {
    background-color: var(--background-blue-hover);
}

.btn:active {
    background-color: var(--background-blue-active);
}

#container {
    display: grid;
    /* border: 3px solid red; */
    margin-top: var(--spacing);
    margin: 10rem, 10rem, 10rem, 10rem;
    height: 83%;
    width: 95%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: var(--spacing)
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-white);
    border-radius: 0.5em;
    aspect-ratio: 1 / 1;
}

.book-btn {
    width: 85%;
    height: 2rem;
    margin: 0.5em;
    border: none;
    border-radius: 0.5em;
}

#read-btn {
    color: var(--background-black);
}

#read-btn {
    background-color: var(--positive-green);
}

#read-btn:hover {
    background-color: var(--positive-green-hover)
}

#read-btn.off {
    background-color: var(--negative-red);
}

#read-btn.off:hover {
    background-color: var(--negative-red-hover);
}

#remove-btn {
    background-color: var(--background-blue);
    color: var(--background-white);
}

#remove-btn:hover {
    background-color: var(--background-blue-hover)
}

#remove-btn:active {
    background-color: var(--background-blue-active)
}




/* DIALOG BOX */
#dialog {
    height: 25rem;
    width: 18.5rem;
    top: 20%;
    left: 40%;
    border: none;
    border-radius: 0.3em;
    background-color: var(--background-gray);
}

#form-header {
    margin-top: 0.5em;
    font-size: 1.7em;
}

.dialog-input {
    height: 3em;
    width: 80%;
    margin: 1em 1em 1em 1em;
    border-radius: 0.4em;
    font-size: 1em;
    border: none;
}

input:focus {
    outline: none;
}

#checkbox {
    height: 1.5em;
    width: 1.5em;
    accent-color: var(--background-blue);
}

label {
    font-size: 1.2em;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#submit-btn {
    background-color: var(--background-blue);
    color: var(--background-white);
}

#submit-btn:hover {
    background-color: var(--background-blue-hover)
}

#submit-btn:active {
    background-color: var(--background-blue-active);
}