/* ALL */
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    --background-blue: #1F2937;
    --background-blue-hover: #3f4f66;
    --background-blue-active: #647894;
    --background-gray: rgb(228, 228, 228);
    --background-white: white;
    --positive-green: green;
    --positive-green-hover: greenyellow;
    --positive-green-active: lightgreen;
    --negative-red: red;
    --negative-red-hover: rgb(228, 42, 42);
    --negative-red-hover: rgb(212, 51, 51);

    --display: 15vh;
}


/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: var(--display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#heading {
    font-size: 2.4em;
}

/* MAIN */
#main {
    height: calc(100vh - (var(--display)));
    width: 100vw;
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
}

.btn {
    height: 3em;
    width: 5rem;
    border: none;
    border-radius: .5em;
    background-color: var(--background-blue);
    color: var(--background-white)
}

.btn:hover {
    background-color: var(--background-blue-hover);
}

.btn:active {
    background-color: var(--background-blue-active);
}




/* DIALOG BOX */
#dialog {
    height: 25rem;
    width: 18.5rem;
    border: none;
    border-radius: 0.3em;
    background-color: var(--background-white);
}

.dialog-input {
    height: 3em;
    width: 80%;
    margin: 1em 1em 1em 1em;
    border-radius: 0.4em;
    font-size: 1em;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#submit-btn {
    background-color: var(--positive-green);
    color: var(--background-white);
}

#submit-btn:hover {
    background-color: var(--positive-green-hover)
}

#submit-btn:active {
    background-color: var(--positive-green-active);
}