/* ALL */
* {
    margin: 0;
    padding: 0;
    --background-blue: blue;
    --background-gray: gray;
    --background-white: white;
}


/* HEADER */
header {
    background-color: var(--background-blue);
    color: var(--background-white);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* MAIN */
#main {
    height: 90vh;
    width: 100vw;
    background-color: var(--background-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}